* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.site-logo-link {
  width: 30%;
}

.site-logo {
  width: 100%;
  margin-bottom: 30px;
}

.site-title {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  letter-spacing: 6px;
  font-weight: 800;
  background: linear-gradient(to right,
      #462523 0,
      #cb9b51 22%,
      #ffe561 45%,
      #f6f2c0 50%,
      #ffe561 55%,
      #cb9b51 78%,
      #462523 100%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite;
  background-size: 250%;
  background-position: left;
}

@keyframes shine {
  to {
    background-position: right
  }
}

.site-description {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: lighter;
  margin: 5px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  font-weight: lighter;
  margin-top: 20px;
}

.contact {
  display: flex;
  align-items: center;
  opacity: .5;
  padding: 5px;
  border-radius: 5px;
}

.contact:hover {
  background-color: rgba(203, 155, 81, 0.5);
  opacity: 1;
}

.contact.phone {
  margin-right: 15px;
}

.contact-info i {
  width: 25px;
  height: 25px;
  background-color: #fff;
  color: #131313;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 12px;
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 10px;
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  opacity: .5;
}

@media only screen and (max-width: 768px) {
  .site-logo-link {
    width: 60%;
  }

  .site-title {
    font-size: 25px;
  }

  .site-description {
    font-size: 20px;
  }

  .contact-info {
    width: 70%;
    flex-direction: column;
    align-items: center;
  }
}